<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link th:href="@{/css/workout.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/index.js}"></script>

    <title>Workout</title>
</head>
<body>
<h2>
    <span th:text="'Time: ' + ${time}"></span>
</h2>
</body>
</html>